# ============================
#  GENERAL BUILD FILES
# ============================

# Build folders (CMake, Make, Ninja)
build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
CTestTestfile.cmake
_compile_commands.json


# ============================
#  COMPILERS / TOOLS
# ============================

# GCC / Clang artifacts
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.out
*.exe
*.pdb
*.ilk

# Precompiled headers
*.gch
*.pch

# AddressSanitizer/Valgrind logs
*.supp
vgcore.*

# ============================
#  VISUAL STUDIO
# ============================

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
*.ncb
*.opensdf
*.sdf
*.cachefile

# VS cache
.ipch/
*.pdb
*.idb
*.opendb

# VS Code
.vscode/
*.code-workspace

# ============================
#  PLATFORM
# ============================

# Linux
*~
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
desktop.ini


# ============================
#  ENGINE / GAME FILES
# ============================

# Logs
logs/
*.log

# Engine-generated caches
cache/
temp/
tmp/

# ============================
#  THIRD PARTY LIBRARIES
# ============================

# Ignora TODO dentro de la carpeta de SDL3
external/SDL3/*

# pero permite los headers (opcional) y archivos legales
!external/SDL3/include/
!external/SDL3/include/**
!external/SDL3/LICENSE.txt
!external/SDL3/README.md


# ============================
#  BINARIES / EXECUTABLES
# ============================

bin/
bin-*/
*.bin